a {
    text-decoration: none;
}

body {
    font-family: 'neuropol x', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-color: #17181798;
    border-bottom: 2px solid #2f332e4b;
    position: fixed;
    display: flex;
    z-index: 50;
}

.clickIcon {
    height: 450px;
}

.header__logo {
    cursor: pointer;
    text-align: center;
    padding: 2%;
}

.header__logo img {
    position: relative;
    bottom: 70px;
    width: 240px;
    height: 150px;
}

.container {
    background-image: url('../img/dark-striped-surface.png');
    display: fixed;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
}

main .main_welcome {
    background-image: url('../img/bg7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

main .main_welcome h1 {
    padding: 100px 0 70px 0;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 1em #ffffff;
}

main .main_welcome p {
    color: #000000;
    font-size: 20px;
    text-shadow: 1px 1px 2px black, 0 0 1em #ffffff;
}

.vk_konnekt {
    margin: auto;
}

.vk_konnekt img {
    height: 270px;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 0 40px #0f5836;
}

.botIcons {
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
}

.iconNum img {
    width: 50px;
    height: 50px;
}

.iconMap img {
    height: 50px;
    width: 50px;
}

main .main_about {
    width: 100%;
    justify-content: space-around;
    text-align: center;
    padding-top: 50px;
}

.main_about h2 {
    font-size: 30px;
    color: #ffff;
    text-shadow: 1px 1px 2px black, 0 0 1em #ffffff;
    margin: 100px 0 70px 0;
}

.about_Us {
    width: 1000px;
    height: 400px;
    background-color: rgba(218, 212, 212, 0.568);
    margin: auto;
    display: inline-flex;
}

.about_right {
    height: 420px;
}

.about_right p {
    margin: 30px 0 20px 0;
    font-size: 15px;
    color: #000000;
}

.about_right li {
    padding-left: 25px;
    margin-top: 10px;
    font-size: 15px;
    color: #000000;
}

.about_left img {
    margin: 20px;
    height: 360px;
    width: 360px;
}

.main_work {
    padding: 150px 0 170px 0;
    text-align: center;
    color: #fff;
}

.main_work h2 {
    text-align: center;
    margin-bottom: 80px;
    font-size: 30px;
    text-shadow: 1px 1px 2px black, 0 0 1em #ffffff;
}

.WorkIcon {
    background: #7a7a7ac9;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 20px auto;
    display: flex;
}

.WorkIcon img {
    height: 70px;
    width: 70px;
    margin: auto;
}

.Work_cards {
    display: flex;
}

.card {
    margin: 0 40px;
}

.Name {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.position {
    font-size: 16px;
}

.about_position {
    font-size: 10px;
}

@media screen and (max-width:1200px) {
    nav {
        margin-left: 10%;
    }

    main .main_welcome h1 {
        font-size: 25px;
    }

    .formButton {
        width: 300px;
        height: 120px;
        left: 1140px;
    }
    
    .main_about h2{
        top: 80px;
    }

    .about_right p, li{
        font-size: 12px;
    }
}

@media screen and (max-width:1103px) {
    nav{
        margin-left: 2%;
    }

    main .main_welcome {
        align-content: center;
    }

    main .main_welcome h1 {
        font-size: 25px;
        padding-top: 350px;
    }

    .about_Us {
        width: 920px;
    }
}

@media screen and (max-width:1070px) {
    .header__logo img{
        bottom: 50px;
    }
   
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: #ffffff;
        font-size: 25px;
    }
  
    nav {
        width: 100%;
    }

    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -220px;
        text-align: center;
    }

    header .topnav.responsive {
        height: 340px;
    }

    .topnav.responsive a.icon {
        position: absolute;
        top: -90px;
        right: -220px;
    }

    .topnav.responsive a {
       float: none;
       display: block;
       text-align: left;
    }

    main .main_welcome {
        display: flex;
        height: 800px;
        padding-top: 150px;
    }

    main .main_welcome h1 {
        font-size: 23px;   
    }

    .botIcons {
        flex-direction: column;
    }

    main .main_welcome p {
        font-size: 14px;
    }

    .main_about {
        width: 700px;
        flex-direction: column;
    }

    .about_Us {
        flex-direction: column;
        height: 600px;
        width: 460px;
    }

    .about_left img {
        height: 250px;
        width: 350px;
    }

    .about_right {
        text-align: center;
        font-size: 10px;
    }

    .about_right li {
        text-align: left;
        font-size: 10px;
    }

    .about_right h2 {
        margin-top: 10px;
        font-size: 23px;
    }

    .main_work {
        height: 1100px;
    }

    .main_work h2 {
        font-size: 23px;
    }

    .Work_cards {
        flex-direction: column;
        height: 700px;
    }

    .map {
        margin: 10px 20px;
    }
}

@font-face {
    font-family: "neuropol x"; 
    src: url("../fonts/neuropol x rg.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 